@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap");

* {
  /* border: 1px solid black; */
}

body {
  background-color: black;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
}

h1 {
  margin-top: 2rem;
  font-size: 3.375rem;
  width: 30rem;
  text-align: center;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: white;
}

img {
  display: block;
}

/* page transition */

.fade-out {
  opacity: 0;
  transition: 0.4s;
}

.fade-in {
  opacity: 1;
  transition: 0.4s;
}

.offscreen {
  display: none !important;
}

/* ========= start page ========= */

.page-start {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.page-start img,
.page-register img {
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.title,
.registeration {
  position: absolute;
  z-index: 2;
  width: 60rem;
  margin-top: 5rem;
  text-transform: uppercase;
  color: white;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ========= register page ========= */

.page-register {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

.registeration {
  border: 1px solid white;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.reg-top,
.reg-bottom {
  display: flex;
  justify-content: center;
}

.reg-top h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.reg-center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 1.5rem 0 0.5rem 0;
  gap: 2rem;
}

.reg-center h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.reg-left,
.reg-right {
  width: 50%;
}

.reg-right {
  display: flex;
  flex-direction: column;
}

.reg-right label {
  font-weight: 600;
}

#student-name,
.teachers,
.difficulty-box {
  margin: 0.5rem 0 0.5rem 0;
}

#student-name {
  width: 200px;
}

.teachers,
.difficulty-box {
  display: flex;
  gap: 0.5rem;
}

.profile,
.difficulty-line {
  padding: 5px;
  cursor: pointer;
}

.profile {
  border: 1px solid white;
  width: 7rem;
}

.reg-right img {
  filter: brightness(100%);
  margin-bottom: 0.5rem;
}

.difficulty-line {
  cursor: pointer;
}

[type="radio"] {
  margin-right: 10px;
}

/* btn start */
.title span,
.btn-blue {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  border: 1px solid white;
  font-size: 0.875rem;
  font-weight: 600;
  transition: 0.1s;
}
.title span {
  width: 180px;
  margin: 5rem;
}

.btn-blue {
  text-align: center;
  width: 80px;
}

.title p {
  display: inline;
}

.hover {
  background-color: #0069ff;
  border-color: #0069ff !important;
  transition: 0.1s;
  cursor: pointer;
}
/* btn end */

/* ========= in-game page ========= */

.page-in-game {
  height: 100rem;
}

.page-in-game header {
  background-color: #003c71;
  color: white;
  font-family: "Carrois Gothic SC";
  width: 100%;
  text-transform: uppercase;
}
.page-in-game ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 2rem;
}

.page-in-game li {
  padding: 1rem;
  text-align: center;
  font-weight: 900;
}

.hover2 {
  background-color: #fff400;
  color: #003c71;
  transition: 0.3s;
  cursor: pointer;
  a {
    color: #003c71;
  }
}

main {
  width: 100%;
  height: 95vh;
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.8fr;
  background-color: white;
}

.player-board {
  display: flex;
  border: 1px solid black;
}

.table {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 1rem;
}

.label {
  font-weight: 600;
}

#player-name,
#computer-name {
  margin-bottom: 1rem;
}

#computer-photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2rem;
}

#txtcontainer {
  position: relative;
  display: none;
}

.txtpopup {
  display: block !important;
  height: 15rem;
}

#txtcontent {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-color: #003c71;
  margin-top: 3rem;
  padding: 0 0.5rem;
}

/* card plate */
.cards-plate {
  display: grid;
  width: 100%;
  padding: 10px;
  grid-template-columns: repeat(6, 10rem);
  grid-template-rows: repeat(3, 10rem);
  justify-content: center;
  gap: 10px;
  margin: 10px auto;
}

.card {
  position: relative;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gold;
  backface-visibility: hidden;
  transition-duration: 0.1s;
}

.front {
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition-duration: 0.1s;
}

.tofront {
  transform: rotateY(0deg);
}

.toback {
  transform: rotateY(180deg);
}

/* end box */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border: 1px solid #888;
}

.modal-content p {
  color: black;
}

.modal-content button {
  width: 7rem;
  margin: 0;
  margin-top: 1rem;
}

/* end pop up */

.end-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  width: 100%;
  max-width: 250px;
  text-align: center;
  border: 1px solid #888;
}

.end-comment {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#btn-gohome {
  text-align: center;
  width: 100px;
  justify-content: center;
}
#btn-gohome:hover {
  color: white;
}
